

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8EEDE;
}

.header-wrapper {
  width:80vw;
  background-color: brown;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#D6C6A8;
  margin-top: 20px;
  border-radius: 20px;
}

.header {
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text{
    font-size: 50px;
    color: #8A663F;
    font-family: 'Nunito', sans-serif;

}



@media (max-width: 750px) {

    .header-text{
        font-size: 40px;
    
    }
    
}

@media (max-width: 380px) {

    .header-text{
        font-size: 30px;
    
    }
    
}
